*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #dbccbd;
  color: black;
}

.nav-bar {
  background-color: rgb(136, 131, 131);
  height: 50px;
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  z-index: 800;
}
.nav-bar .blog-title {
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: -1px;
  margin-top: 20px;
  color: whitesmoke;
  text-transform: uppercase;
  text-decoration: none;
}

.nav-bar .blog-link {
  text-decoration: none;
  cursor: pointer;
}

button {
  background-color: rgb(192, 174, 151);
  color: white;
  padding: 15px;
  margin: 10px;
  border-radius: 6px;
  max-width: 110px;
}

button:hover {
  background-color: rgb(136, 131, 131);
  cursor: pointer;
}

.blog-details .back-button {
  color: white;
  padding: 12px;
  font-size: larger;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 40px;
  padding: 60px 10%;
}

.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-post {
  background: #ffffff;
  padding: 2.5rem;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 1.9;
}

.blog-post:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.05);
  border-color: rgb(199, 78, 78);
}

.blog-post .blog-post-title {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  color: #0f1316;
}

.blog-post .read-more-link {
  color: black;
  text-decoration: none;
}

.blog-details {
  max-width: 800px;
  margin: 60px auto;
  padding: 0 20px;
  background-color: #ffffff;
  border-radius: 15px;
}
.blog-details img {
  width: 500px;
  height: auto;
  margin-bottom: 20px;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}

.blog-details .blog-image-message {
  color: red;
  text-align: center;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 2px;
}

.blog-title {
  font-size: clamp(2rem, 5vw, 3.5rem);
  color: rgb(58, 55, 55);
  margin-bottom: 2rem;
  line-height: 1.2;
  text-align: left;
}

.blog-details p {
  font-size: 1.2rem;
  line-height: 1.8;
  color: #333;
  margin-bottom: 1.5rem;
  font-family: Georgia, "Times New Roman";
}

/* Responsiveness */
@media (max-width: 768px) {
  nav {
    padding: 1rem 5%;
  }

  .main-container {
    padding: 40px 5%;
  }

  .blog-details {
    margin: 20px;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .blog-details img {
    width: 80%;
    height: auto;
    margin-bottom: 20px;
  }
  .blog-details video {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
